.container {
    position: relative;
    bottom: 0;
    width: 100%;
bottom: 0;
background: linear-gradient(to right, rgb(255, 179, 0), #a9a9a9);
  background: linear-gradient(to right, rgb(255, 179, 0), #a9a9a9);
 border: 2px solid #000000;
    
    color: white;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .container {
      position: relative;
      bottom: auto;
    }
  }
  