


<div *ngIf="!islogin()">
<footer class="page-footer font-small indigo pt-0">
      <div class="row col-lg-12">
        <div class="col-lg-4 flex-center">
          FOLLOW US:<br><br>
          <a class="fb-ic"><i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a>
          <a class="tw-ic"><i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a>
          <a class="ins-ic"><i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a>
        </div>

        <div class="col-lg-4">
          <p style=" margin-left:50px;">ABOUT US:<br>
            There may be more to life than eating, but it is one of life's greatest pleasures. And when it comes to sweets, everyone is tempted to indulge. Be it a festival, a feast or a simple celebration, “MITHAIS” are indispensable!
            View Our Range
          </p>
        </div>
      </div>
      <div class="footer-copyright py-3 text-center">
        © Mohitrattan
      </div>

  </footer>
</div>