<div class="entry-content container" style="background-color: #ff000000;">
  <div class="block blackash-block-info
    blackash-block-margin   " data-aos="fade-left" data-aos-delay="150">
    <div class="container px-0">
      <div class="row">
        <div class="col-1 separator d-none d-md-block">
        </div>
        <div class="col-lg-7 col-md-6 col-12 ">
          <div class="p-md-5 p-3">
            <div class="block__heading">
              <h1 class="blackash-heading" style="color: rgb(255, 179, 0);">About Us</h1>
            </div><!-- /.block__heading -->

            <div class="block__content pt-2">
              <p style="text-align: justify;">Rattan's Kitchen is an urban, edgy and industrial New York-inspired
                eatery. It’s laid-back, casual but buzzing with energy and style. The food is much like New York—a
                melting pot of cultures! We have wood fired pizzas, a great charcoal steak section, sandwiches, burgers,
                pastas and bar grub platters. A mega selection of desserts, ice creams, malts and shakes (even spiked
                ones!), and a super well stocked bar with everything from classic cocktails to beer on tap. Come enjoy
                the classic taste of India!Rattan's Kitchen is an urban, edgy and industrial New York-inspired
                eatery. It’s laid-back, casual but buzzing with energy and style. The food is much like New York—a
                melting pot of cultures! We have wood fired pizzas, a great charcoal steak section, sandwiches, burgers,
                pastas and bar grub platters. A mega selection of desserts, ice creams, malts and shakes (even spiked
                ones!), and a super well stocked bar with everything from classic cocktails to beer on tap. Come enjoy
                the classic taste of India!Rattan's Kitchen is an urban, edgy and industrial New York-inspired
                eatery. It’s laid-back, casual but buzzing with energy and style. The food is much like New York—a
                melting pot of cultures! We have wood fired pizzas, a great charcoal steak section, sandwiches, burgers,
                pastas and bar grub platters. A mega selection of desserts, ice creams, malts and shakes (even spiked
                ones!), and a super well stocked bar with everything from classic cocktails to beer on tap. Come enjoy
                the classic taste of India!Rattan's Kitchen is an urban, edgy and industrial New York-inspired
                eatery. It’s laid-back, casual but buzzing with energy and style. The food is much like New York—a
                melting pot of cultures! We have wood fired pizzas, a great charcoal steak section, sandwiches, burgers,
                pastas and bar grub platters. A mega selection of desserts, ice creams, malts and shakes (even spiked
                ones!), and a super well stocked bar with everything from classic cocktails to beer on tap. Come enjoy
                the classic taste of India!</p>

            </div>
          </div>
          <div>
            <div class="block__image">
              <div class="maps">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3429.3136358144106!2d76.7488751153022!3d30.737690481635436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fedc189621a73%3A0x827f99c5536a5a33!2sGuru+Nanak+Public+School!5e0!3m2!1sen!2sin!4v1521782317397"
                  width="600px" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>