@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px;
    background: linear-gradient(to left, #000000, #a9a9a9);
  box-shadow: 0 0.5rem 1rem rgb(255, 179, 0);

    margin: auto; /* Center align on large screens */
  }
}

/* Responsive Adjustments */
@media (max-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 90%; /* Adjust the max-width as needed */
    margin: auto; /* Center align on smaller screens */
  }
}

.block__image {
  padding: 50px;
  box-shadow: 0 0.5rem 1rem rgb(255, 179, 0);

}

/* Responsive Adjustments for .block__image */
@media (max-width: 768px) {
  .block__image {
    padding: 20px; /* Reduce padding on smaller screens */
  }
}
