<!-- <div class="signup-container">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email">
      <div *ngIf="submitted && f['email'].errors">
        <div *ngIf="f['email'].errors['required']">Email is required</div>
        <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
      </div>
    </div>

    <div>
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password">
      <div *ngIf="submitted && f['password'].errors">
        <div *ngIf="f['password'].errors['required']">Password is required</div>
        <div *ngIf="f['password'].errors['minlength']">Password must be at least 8 characters</div>
      </div>
    </div>

    <div>
      <label for="confirmPassword">Confirm Password</label>
      <input id="confirmPassword" type="password" formControlName="confirmPassword">
      <div *ngIf="submitted && f['confirmPassword'].errors">
        <div *ngIf="f['confirmPassword'].errors['required']">Confirm Password is required</div>
        <div *ngIf="f['confirmPassword'].errors['mismatch']">Passwords must match</div>
      </div>
    </div>

    <button type="submit" [disabled]="signupForm.invalid">Submit</button>
  </form>
</div> -->
<div>
  <h1>Hello Welcome</h1>
  <h3>Create An Account</h3>
  <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <div>
      <label for="email">Email</label>
      <input formControlName="email" type="email" required>
      <div *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched">
        <small *ngIf="signUpForm.get('email')?.hasError('required')">Email is required.</small>
        <small *ngIf="signUpForm.get('email')?.hasError('email')">Invalid email format.</small>
      </div>

      <label for="password">Password</label>
      <input formControlName="password" type="password">
      <div *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched">
        <small *ngIf="signUpForm.get('password')?.hasError('required')">Password is required.</small>
      </div>
    </div>
    <button type="submit" [disabled]="signUpForm.invalid">Submit</button>
    <span>Already have an account? 
      <a routerLink="/login">Login</a>
    </span>
  </form>
</div>
 